<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Angular Nachophone</title>

  <script src="https://www.gstatic.com/firebasejs/5.8.6/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyAApxP1SkzjvtwNokMNl8KMvtlnIPBEd3Y",
      authDomain: "nacho-phone.firebaseapp.com",
      databaseURL: "https://nacho-phone.firebaseio.com",
      projectId: "nacho-phone",
      storageBucket: "nacho-phone.appspot.com",
      messagingSenderId: "425372903942"
    };
    firebase.initializeApp(config);
  </script>
  
</head>
<body>
  
</body>
</html>